include README.rst
include CHANGES.rst
include LICENSE
include tox.ini

graft docs
prune docs/_build

graft src
prune src/libpcap/pcap.h
prune src/libpcap/pcap.npcap-sdk.h

graft examples

graft tests
prune tests/tests.c

global-exclude *.py[co] __pycache__
