# Copyright (c) 2016 Adam Karpierz
# SPDX-License-Identifier: BSD-3-Clause

include README.rst
include CHANGES.rst
include LICENSE
include pyproject.toml
include .readthedocs.yml

graft docs

graft examples
prune examples/examples.c

graft src
prune src/libpcap/pcap.h
prune src/libpcap/pcap.npcap-sdk.h

graft tests
prune tests/testprogs.c
prune tests/fuzz

global-exclude \#* \#*/**
global-exclude .build .build/** .build.* .build.*/**
global-exclude *.py[cod] __pycache__
