# Copyright (c) 2016 Adam Karpierz
# SPDX-License-Identifier: BSD-3-Clause

[build-system]
build-backend = 'setuptools.build_meta'
requires = ['setuptools>=75.2.0', 'wheel>=0.44.0', 'packaging>=24.1.0', 'tox>=4.23.0']

[project]
name        = 'libpcap'
version     = '1.11.0b13'
description = 'Python binding for the libpcap C library.'
urls.Homepage      = 'https://pypi.org/project/libpcap/'
urls.Documentation = 'https://libpcap.readthedocs.io/'
urls.Download      = 'https://pypi.org/project/libpcap/'
urls.Source        = 'https://github.com/karpierz/libpcap'
urls.Issues        = 'https://github.com/karpierz/libpcap/issues'
license = { text = 'BSD license ; https://opensource.org/license/bsd-3-clause' }
authors = [
    { name  = 'Adam Karpierz' },
    { email = 'adam@karpierz.net' },
]
maintainers = [
    { name  = 'Adam Karpierz' },
    { email = 'adam@karpierz.net' },
]
keywords = ['pcap', 'libpcap', 'wpcap', 'npcap']
classifiers = [
    'Development Status :: 4 - Beta',
    'Intended Audience :: Developers',
    'License :: OSI Approved :: BSD License',
    'Operating System :: OS Independent',
    'Natural Language :: Polish',
    'Programming Language :: Python',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
    'Programming Language :: Python :: 3.12',
    'Programming Language :: Python :: 3.13',
    'Programming Language :: Python :: 3 :: Only',
    'Programming Language :: Python :: Implementation :: CPython',
    'Programming Language :: Python :: Implementation :: PyPy',
    'Topic :: Software Development :: Libraries :: Python Modules',
]
requires-python = '>=3.9.0,<4.0.0'
dependencies = [
    # mandatory
    'setuptools>=75.2.0',
    'pkg-about>=1.2.1',
    # others
]
dynamic = ['readme']
[project.optional-dependencies]
doc = [
    'Sphinx>=7.4.7',
    'sphinx-toolbox>=3.8.1',
    'sphinx-tabs>=3.4.7',
    'sphinx-copybutton>=0.5.2',
    'sphinxcontrib-spelling>=8.0.0',
    'sphinx-lint>=1.0.0',
    'restructuredtext-lint>=1.4.0',
    'nbsphinx>=0.9.5',
]
test = [
    'deepdiff>=8.0.1',
    'rich>=13.9.2',
]

[project.scripts]
#'libpcap' = 'libpcap.__main__:main'

[project.gui-scripts]
#'libpcap-gui' = 'libpcap:main_gui'

#[project.entry-points.'libpcap.magical']
#epoint = 'libpcap:main_epoint'

[tool.setuptools.dynamic]
readme = { file = ['README.rst', 'CHANGES.rst'], content-type = 'text/x-rst; charset=UTF-8' }

[tool.setuptools]
license-files = ['LICENSE']
include-package-data = true
platforms = ['any']
zip-safe = false

[tool.setuptools.packages.find]
namespaces = false
where = ['src']

[tool.setuptools.package-dir]
'' = 'src'
#'libpcap.tests' = 'tests'

[tool.setuptools.package-data]
libpcap = [
    'libpcap.cfg',
]
'libpcap._platform' = [
    '*/*/*/*.dll',
    '*/*/*/*.so',
    '*/*/*/*.dylib',
    '*/*/*/*/*.dylib',
    '*/*/*/.keep',
]

[tool.setuptools.exclude-package-data]
'*' = ['*.c','*.h','*.cpp','*.hpp','*.cxx','*.hxx','*.pyx','*.pxd']
libpcap = [
]

[tool.coverage.run]
source = [
    'libpcap',
    'tests',
]
omit = [
]
data_file = '.tox/coverage/.coverage'
plugins = ['covdefaults']

[tool.coverage.report]
exclude_lines = [
    # Regexes
    # Have to re-enable the standard pragma
    '^\s*if\s+self\.debug\s*:',
    '^\s*if\s+__debug__\s*:',
    '^\s*if\s+(0|False)\s*:',
    '''if\s+__name__.*\s*==\s*['"]__main__['"]\s*:''',
    '^\s*@unittest\.skip\(',
    '^\s*@unittest\.skipIf\(sys\.platform\.startswith\("win"\)',
]
omit = [
    'tests/run.py',
]
skip_covered = false

[tool.coverage.html]
directory = '.tox/coverage/.coverage.html'

[tool.flake8]
filename = ['*.py','*.pyx']
#include = ['tests']
#exclude = ['.tox','*.egg','.git','__pycache__','build','_build','docs/_build','dist']
max-line-length = 99
ignore = ['E126','E203','E221','E251','E302','E701','E702','E731',
          'E122','E127','E128','E222','E272','E241','E266','E226','E704',
          'D100','D101','D102','D103','D104','D400','D401','D202',
          'N806','N802','N803','N801',
          'I100','W503','F401']
# (e.g. 'E4','W') default: 'E121','E123','126','226','E24','704'
#select =
#select = ['E','W','F','N','I']
per-file-ignores = [
    '*/libpcap/_pcap.py: E305',
    '*/libpcap/_bpf.py: E305',
    '*/libpcap/_platform/__init__.py: E305',
    '*/libpcap/_platform/_windows/__init__.py: E305',
    '*/libpcap/_platform/_macos/__init__.py: E305',
    '*/libpcap/_platform/_linux/__init__.py: E305',
]
output-file = '.tox/lint/flake8out.txt'
count = true
#show-pep8,
#show-source
#verbose
#quiet

#
# Configuration(s) for tox
#

[tool.tox]
legacy_tox_ini = """
[tox]
env_list = py{39,310,311,312,313}, pypy{39,310}, docs
labels =
    py = py{39,310,311,312,313}, pypy{39,310}
    prepare = prepare
    coverage = coverage
    lint = lint
    docs = docs
    build  = py{39,310,311,312,313}, pypy{39,310}, docs, build
    deploy = py{39,310,311,312,313}, pypy{39,310}, docs, build, publish
min_version = 4.23.0
skip_missing_interpreters = true
requires =
    {[base]deps}
    virtualenv>=20.27.0
    tox-backtick>=0.5.1
    tox-tags>=0.2.0

[base]
base_python = python3.12
deps =
    pip>=24.2.0
    setuptools>=75.2.0
    wheel>=0.44.0
package_subdir = libpcap

[testenv]
pass_env = WINDIR
set_env =
    PYTHONDONTWRITEBYTECODE = 1
commands =
    {env_python} --version
    {env_python} -m tests {posargs}
extras = test
deps =
    {[base]deps}

[testenv:prepare]
base_python = {[base]base_python}
skip_install = true
allowlist_externals =
    cmd
    .build
commands =
    cmd /C if exist .build.cmd .build.cmd

[testenv:coverage]
base_python = {[base]base_python}
commands =
    {env_python} -m coverage erase
    -{env_python} -m coverage run -m tests {posargs}
    {env_python} -m coverage report
    {env_python} -m coverage html
deps =
    {[testenv]deps}
    coverage>=7.6.3
    covdefaults>=2.3.0
    diff-cover>=9.2.0

[testenv:docs]
base_python = {[base]base_python}
commands =
    {env_python} -m sphinxlint --ignore .tox --ignore build --ignore dist
   #{env_python} -m sphinx.apidoc -f {envsitepackagesdir}/{[base]package_subdir}
    {env_python} -m sphinx.cmd.build -W -a -b html -E   ./docs ./build/docs/html
    {env_python} -m sphinx.cmd.build -W -a -b linkcheck ./docs ./build/docs/html
    {env_python} -m sphinx.cmd.build -W -a -b doctest   ./docs ./build/docs/html
extras = doc
deps =

[testenv:build]
depends = py{39,310,311,312,313}, pypy{39,310}, docs
base_python = {[base]base_python}
set_env =
    {[testenv]set_env}
    PKG_PVER=`{env_python} -W ignore -c "import platform ; print(''.join(platform.python_version_tuple()[:2]), end='')" 2> nul`
    PKG_NAME=`{env_python} -W ignore -c "import setuptools ; setuptools._distutils.core._setup_stop_after='config' ; print(setuptools.setup().metadata.get_name(),     end='')" 2> nul`
    PKG_DIST=`{env_python} -W ignore -c "import setuptools ; setuptools._distutils.core._setup_stop_after='config' ; print(setuptools.setup().metadata.get_fullname(), end='')" 2> nul`
commands =
    {env_python} -W ignore -c "from setuptools import setup ; setup()" --quiet sdist --formats=zip
    {env_python} -W ignore -c "from setuptools import setup ; setup()" --quiet bdist_wheel
    # check out for PyPi
    {env_python} -m twine check dist/*
deps =
    {[testenv]deps}
    twine>=5.1.1

[testenv:publish]
depends = build
base_python = {[base]base_python}
skip_install = true
commands =
    # publish on PyPi
    {env_python} -m twine upload dist/*
extras =
deps =
    twine>=5.1.1

[testenv:lint]
base_python = {[base]base_python}
commands =
    {env_python} -m flake8 {envsitepackagesdir}/{[base]package_subdir}/
extras =
deps =
    {[testenv]deps}
    flake8>=7.1.1
    flake8-pyproject>=1.2.3
    flake8-docstrings>=1.7.0
    pep8-naming>=0.14.1
    flake8-builtins>=2.5.0
    flake8-deprecated>=2.2.1
"""
